// Заголовки, общие БЄМ блоки и проче...

.title {
	font-family: $fontTitle;
	font-size: rem(50);

	@media (max-width: $tablet) {
		font-size: rem(40);
	}

	@media (max-width: $mobile) {
		font-size: rem(35);
	}
}

.link-line {
	&:link {
		text-decoration: underline;
	}

	&:hover {
		color: inherit;
	}
}

.collapsed {
	font-size: rem(20);
	background-color: inherit;
}

.text-small {
	font-size: rem(14);
	color: #c1bebe;
}
